---
import Page from '@layouts/Page.astro';
let res = await fetch("http://wpnickgehring.lndo.site/wp-json/wp/v2/posts")
let allPosts = await res.json();
---

<Page title="A place for thoughts and experiments" description="A place for thoughts and experiments" abovetitle="Journal">
    <Fragment slot="content">
        <div class="grid md:grid-cols-3 gap-5">
            {allPosts.map((post) => 
            <a href={ post.slug + "/" } class="group block">
                <div class="bg-cyan-300 p-5 h-72 grid content-center">
                    <div class="bg-purple rounded-full w-16	h-16 mb-2 grid content-center justify-items-center"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="fill-white" width="32"><path d="M288 0H160 128C110.3 0 96 14.3 96 32s14.3 32 32 32V196.8c0 11.8-3.3 23.5-9.5 33.5L10.3 406.2C3.6 417.2 0 429.7 0 442.6C0 480.9 31.1 512 69.4 512H378.6c38.3 0 69.4-31.1 69.4-69.4c0-12.8-3.6-25.4-10.3-36.4L329.5 230.4c-6.2-10.1-9.5-21.7-9.5-33.5V64c17.7 0 32-14.3 32-32s-14.3-32-32-32H288zM192 196.8V64h64V196.8c0 23.7 6.6 46.9 19 67.1L309.5 320h-171L173 263.9c12.4-20.2 19-43.4 19-67.1z"/></svg></div>
                    <p class="text-base text-dark mb-1">{post.tags.map((tag) => <span class="after:content-[','] pr-1 last:after:content-['']">{tag}</span>)}</p>
                    <h2 class="font-bold text-xl">{ post.title.rendered }</h2>
                </div>
            </a>
            )}
        </div>
    </Fragment>
</Page>