---
import Page from '@layouts/Page.astro';
---

<Page title="I'm sorry, Dave. I'm afraid I can't do that." description="">
    <Fragment slot="content">
        <div class="col-span-12 md:col-span-8">
            <p>This page does not exist. Check that ole url and try again.</p>
        </div>
    </Fragment>
</Page>