---
import Page from '@layouts/Page.astro';
---

<Page title="Hurrah! Success!" description="">
    <Fragment slot="content">
        <div class="col-span-12">
            <p>Thank you for reaching out. I look foward to speaking to you.</p>
        </div>
    </Fragment>
</Page>