<section class="container mx-auto px-6 md:px-4 about-section grid grid-cols-12 mb-9 show-rocket" id="about">
    <p class="col-span-12 lg:col-span-11 lg:col-start-2 font-bold text-purple md:text-xl"><strong class="text-purple">About me</strong></p>
    <h2 class="leading-tight col-span-12 lg:col-span-11 lg:col-start-2 text-3xl md:text-5xl font-bold mb-5">20 years of web dev know-how</h2>
    
    <p class="col-span-12 lg:col-span-5 lg:col-start-2">Hi there! My name is Nick Gehring, a developer and designer who <strong>loves to learn</strong>, <strong>take risks</strong>, and <strong>create awesome experiences</strong> online.</p>
</section>

<section class="container mx-auto px-6 md:px-4 grid grid-cols-12 gap-5 mb-20">
    <div class="bg-cyan-300 p-5 col-span-12 lg:col-span-4">
        <h3 class="font-bold text-2xl mb-3">My current gig</h3>
        <p class="text-large text-dark">As director of web services, I am responsible for all things interactive at eleventy marketing group — be it project management, design and development, or consulting on digital projects. Initially hired as an interactive designer, I have grown with the company and become a leader.</p>
    </div>
    <div class="bg-cyan-300 p-5 col-span-12 lg:col-span-4">
        <h3 class="font-bold text-2xl mb-3">Journalist by training</h3>
        <p class="text-large text-dark">The news business taught me how to research, write and think. My publications work forged my early web experiences. Each job was not a web job per se, but I added responsibilities at my own insistence, such as creating a digital studio and filming video.</p>
    </div>
    <div class="bg-cyan-300 p-5 col-span-12 lg:col-span-4">
        <h3 class="font-bold text-2xl mb-3">Personally speaking</h3>
        <p class="text-large text-dark">My home office and life are full of an eclectic mix of books, art work, cats, Legos and movie memorabilia. I am currently working on mounting 1930s-era theater seats to a platform to complement my office.</p>
    </div>
</section>
