<div class="bg-dark border-t-12 border-l-8 border-r-8 border-slate-200 w-96">
    <div>
        <button type="button">Up</button>
        <button type="button">Right</button>
        <button type="button">Down</button>
        <button type="button">Left</button>
    </div>
    <div>
        <button type="button">Select</button>
        <button type="button">Start</button>
    </div>
    <div>
        <button type="button">B</button>
        <button type="button">A</button>
    </div>
</div>