---
const year = new Date().getFullYear();
import Github from '@assets/images/github.svg';
import LinkedIn from '@assets/images/linkedin.svg';
---

<footer class="bg-dark-purple main-footer">
    <div class="container mx-auto px-6 md:px-4 py-4 flex justify-center items-center gap-3">
        <p class="text-white text-base mr-5">&copy; { year } Nick Gehring | Proudly slinging websites in Cuyahoga Falls, Ohio | <a href="/colophon/" class="footer-link">Colophon</a></p>
        <a href="https://github.com/nick-gehring"><img src={Github} width="20" height="20" alt="Github icon" class="" /></a>
        <a href="https://www.linkedin.com/in/nickgehring/"><img src={LinkedIn} width="20" height="20" alt="LinkedIn icon" class="" /></a>
    </div>
</footer>

<style>
    a.footer-link {
        color: white !important;
        font-weight: normal !important;
    }
</style>