<form class="mb-5" name="contact" method="POST" data-netlify="true" action="/success">
    <div class="lg:w-6/12 mb-5">
        <label for="name" class="block mb-0 text-base text-white">Name*</label>
        <input type="text" id="name" name="name" class="bg-gray-50 border border-gray-300 text-gray-900 text-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" required />
    </div>
    <div class="lg:w-6/12 mb-5">
        <label for="email" class="block mb-0 text-base text-white">Email*</label>
        <input type="email" id="email" name="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" required />
    </div>
    <div class="lg:w-6/12 mb-12">
        <label for="message" class="block mb-0 text-base text-white">Message*</label>
        <textarea id="message" name="message" class="bg-gray-50 border border-gray-300 text-gray-900 text-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" required></textarea>
    </div>  
    <div class="lg:w-6/12">
        <p class="hidden">
            <label>
            Don’t fill this out if you’re human: <input name="bot-field" />
            </label>
        </p>
        <button type="submit" class="bg-brightsun transition-all hover:bg-magenta hover:text-white  btn no-underline text-dark inline-block px-8 py-4 font-bold text-xl">Make contact</button>
    </div>
</form>