---
import Layout from '@layouts/Layout.astro';
export interface Props {
	abovetitle: string;
	title: string;
	description: string;
}
const { abovetitle, title, description } = Astro.props;
---

<Layout title={ title } description={ description }>
	<div class="container mx-auto px-6 md:px-4 mb-12 mt-5 post">
		<article class="grid grid-cols-12 show-rocket">
			<div class="col-span-12 md:col-span-8 md:col-start-3">
				<p class="col-span-12 lg:col-span-11 lg:col-start-2 md:text-xl breadcrumb !mb-0"><a href="/journal/" class="text-purple font-bold">Journal</a></p>

				<h1 class="leading-tight lg:col-span-10 lg:col-start-2 col-span-12 text-4xl md:text-6xl font-bold mb-9">{title}</h1>

				<slot />
			</div>
		</article>
	</div>
</Layout>

<style>
	article {
		min-height: 100vh;
	}
	.breadcrumb a {
		color: var(--color-purple) !important;
		text-decoration: none !important;
	}
</style>