---
import Layout from '@layouts/Layout.astro';
export interface Props {
	industry: string;
	title: string;
	description: string;
	tech: string;
	screen: string;
	projectlink: string;
}
const { industry, title, description, tech, screen, projectlink } = Astro.props;
import Browser from "@components/Browser.astro";
import ArrowRight from "@components/ArrowRight.astro";
import Modal from '@components/Modal.astro';
---

<Layout title={ title } description={ description }>
	<header class="bg-dark py-8 mb-10 md:mb-20 project-header">
		<div class="container mx-auto px-6 md:px-4">
			<div class="grid grid-cols-12 h-full justify-center items-center">
				<div class="col-span-12 order-2 md:order-1 md:col-span-6">
					<h1 class="text-3xl md:text-6xl text-white md:leading-none font-bold mb-5">{title}</h1>
					<p class="text-xl md:text-2xl text-white font-light">{description}</p>
				</div>
				<div class="col-span-12 order-1 md:order-2 md:col-span-6 browser-grid">
		            <Browser src={screen} href="/projects/fully-loaded/" title={title} type="large" className="mb-5 md:mb-0" />
				</div>
			</div>
		</div>
	</header>
	<section class="container mx-auto px-6 md:px-4 mb-5">
		<article class="grid grid-cols-12 show-rocket">
			<slot name="content" />
		</article>
	</section>

	<section class="px-6 md:px-4 mx-auto container mb-16">
		<article class="col-span-12 grid grid-cols-12 my-5">
			
			<div class="col-span-12 md:col-span-8 md:col-start-3 grid grid-cols-12 gap-5 mb-12 mt-8">
				<slot name="image-gallery"/>				
			</div>
			<div class="col-span-12 md:col-span-8 md:col-start-3 bg-slate-100 p-5 mb-12">
				<p class="md:text-lg mb-3"><strong class="">Industry:</strong> { industry }</p>
				<p class="md:text-lg mb-3"><strong class="">Tech:</strong> { tech }</p>
        		<p class=""><a href={ projectlink } class="bg-cyan hover:bg-purple no-underline transition-all btn group hover:text-white text-dark lg:w-2/5 px-6 md:px-4 py-2 font-bold text-base flex justify-between">View website <ArrowRight width="18" height="24" /></a></p>
			</div>
			
		</article>
	</section>
	<Modal />
</Layout>

<script>
	document.querySelectorAll(".gallery-image").forEach(function(elem) {
		elem.addEventListener("click", function() {
			// get the image source
			const src = this.getAttribute("src");
			// set the image source
			document.querySelector("#modal-image").setAttribute("src", src);
			// set the image alt
			const alt = this.getAttribute("alt");
			document.querySelector("#modal-image").setAttribute("alt", alt);
			document.querySelector("#modal").showModal();
		});
	});

	// close the modal by clicking on ::backdrop
	document.querySelector("#modal").addEventListener("click", function() {
		const dialog = this
		dialog.classList.add("hide");
		setTimeout(() => {
			dialog.classList.remove("hide");
			dialog.close();
		}, 1000);
	});
    
</script>

<style>
.browser-grid {
    display: grid;
}
.browser-grid__screen { 
    grid-area: 1 / 1 / 1 / 1; 
    margin-top: 2.1rem;
    z-index: 1;
}
.browser-grid__browser { 
    grid-area: 1 / 1 / 1 / 1; 
}
.project-header {
	background-attachment: fixed;
	background-image: url("../assets/images/home/bigger-stars.svg"), url("../assets/images/home/haze.svg"), url("../assets/images/home/stars.svg"), radial-gradient(50% 50%, rgba(23, 8, 48, 1) 25.6%, rgba(19, 4, 41, 1) 69.05%, rgba(14, 0, 33, 1) 100%);
	background-size: contain, cover, contain, cover;
	background-repeat: repeat, no-repeat, repeat, no-repeat;
	background-position: center, center, center, center;
}
</style>